<div class ="row">
<div class="span4">
</div>
<div class="span4 well">
      <legend>Already registered?</legend>
    <form accept-charset="UTF-8" action="<%= root_url %>api/login" method="post">
		<input class="span3" name="email" placeholder="Email" type="email">
        <input class="span3" name="password" placeholder="Password" type="password"> <br/>
        <button class="btn btn-info" type="submit">Sign In</button>
    </form>
</div>
<div class="span4">
</div>
</div>