
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Bootstrap typehead with options example by w3resource</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="assets/js/jquery.js"></script>
<script src="assets/js/bootstrap-typeahead.js"></script>
</head>
<body>


</body>
</html>

