<footer class="footer">
		<hr>
      <div class="container">
        
        <div align="center">made with <i style="color: #dd514c"class="icon-heart"></i> by <a href="http://www.github.com/jainaayush05" target="_blank">@aayush</a></div>
		 <div align="center">We are working on something really cool - <a href="http://www.carebook.in/" target="_blank">Carebook</a></div>
        <div align="center"><a href="#inspiration" role="button" data-toggle="modal" >Inspiration</a> | <a href="#disclaimer" role="button" data-toggle="modal" >Disclaimer</a>  | <a href="http://jainaayush.herokuapp.com/let-me-show-you-a-magic-trick/" target="_blank">Blog</a></div>
		<br />
		<hr>
		<br style="padding: 1px;"/>
		
	  </div>
	  
 </footer>