<footer class="footer">
		<hr>
      <div class="container">
        
        <div align="center">made with <i style="color: #dd514c"class="icon-heart"></i> by <a href="http://www.code9.co.in" target="_blank">@code9</a></div>
		<div align="center"><a data-toggle="modal" href="#tos" class="link">tos</a> | <a data-toggle="modal" href="#tos" class="link">api</a> | <a data-toggle="modal" href="#tos" class="link">contact us</a></div>
		<br />
		<hr>
		<br style="padding: 1px;"/>
		
	  </div>
	  
 </footer>