<footer class="footer">
		<hr>
      <div class="container">
        
        <div align="center">made with <i style="color: #dd514c"class="icon-heart"></i> by <a href="http://www.github.com/jainaayush05" target="_blank">@aayush</a></div>
		
		<br />
		<hr>
		<br style="padding: 1px;"/>
		
	  </div>
	  
 </footer>